[submodule "gem5"]
	path = gem5
	url = https://github.com/gem5/gem5.git
	branch = stable
[submodule "linux-6.1-lts"]
	path = linux-6.1-lts
	url = https://github.com/torvalds/linux.git
	branch = 830b3c6
