[submodule "linux"]
	path = linux
	url = https://github.com/Vokerlee/linux-6.1-arm-gem5
	branch = linux-6.1-gem5
[submodule "gem5"]
	path = gem5
	url = https://github.com/Vokerlee/gem5-arm-dev
	branch = arm_dev
